<div class="container" style="min-height: 700px;">
    <h3>Teacher Detail Page</h3>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <table class="table table-dark">
                <tr>
                    <th>Full Name</th>
                    <th><%= result.name %></th>
                </tr>
                <tr>
                    <th>Salary</th>
                    <th><%= result.salary %></th>
                </tr>
                <tr>
                    <th>Address</th>
                    <th><%= result.address %></th>
                </tr>
                <tr>
                    <th>Class</th>
                    <th><%= result.class %></th>
                </tr>
                <tr>
                    <th>City</th>
                    <th><%= result.city %></th>
                </tr>
                <tr>
                    <th>Gender</th>
                    <th><%= result.gender %></th>
                </tr>
                
            </table>
        </div>
    </div>
</div>